@import '../../../css/variables';

.inputContainer {
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;

  label {
    display: block;
    margin-bottom: 8px;
    color: var(--secondary-90) ;
    margin-bottom: 16px;
    font-size: 16px;
  }

  .input {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    font-size: 18px;
    border-color: var(--secondary-70) ;
    color: var(--secondary-90) ;
    

    &:focus {
      outline: none;
      border-color: var(--primary-90);
    }

    &::placeholder {
      color: #999;
    }

    &.default {
      
      border-color: var(--secondary-70);
    }

    &.error {
      border-color: #AB1A1A;
    }

    &.disabled {
      background-color: #f8f9fa;
      color: #6c757d;
      cursor: not-allowed;
      border-color: #6c757d !important;
    }
  }
}
