:root {
  /* Base Colors 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  --primary-10: #E1E0FF;
  --primary-30: #CDCCFF;
  --primary-50: #B1AFFF;
  --primary-70: #7E7AFF;
  --primary-90: #4C47FF;

  --secondary-10: #F5F5F5;
  --secondary-30: #CFCFCF;
  --secondary-50: #8F8F8F;
  --secondary-70: #696969;
  --secondary-90: #434343;
}
